

.page-content
{
    height: 100%;
}

.navigation > li > a
{
    font-size: 18px;
    padding-left: 96px;
}

table   thead  th
{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
i
{
    
    padding-left: 11px;
}

  tbody  tr td .btn
{
    font-size: 14px;
}


.service
{
    height: 96px;
    margin-top: 52px;
}

.service button
{
    font-size: 29px;
    border-radius: 8px;
    padding: 7px 16px;
}

.service h1
{
    overflow: initial;
    float: left;
    font-size: 54px;
    margin-left: 124px;
    margin-top: 0;
}

.services h1
{
    font-size: 52px;
    margin-right: 57px;
}

.Services-text 
{
    text-align: center;
    margin-right: 88px;
    margin-top: 68px;
}

.Services-text label
{
    font-size: 26px;
    display: block;
}

.Services-text input::placeholder
{
    font-size: 24px;
}


.Services-text2
{
    text-align: center;
    margin-top: 33px;
    margin-bottom: -12px;
}

.Services-text2 label
{
    font-size: 24px;
    margin-left: 223px;

}

.Services-text2 input
{
    margin-right: 383px;
}

.Services-text3 textarea
{ 
    margin-right: 317px;
    width: 43%;
    font-size: 12px;
    text-align: center;
    margin-top: 85px;
    font-size: 20px;
    margin-bottom: -12px;
}

.Services-text3 label
{

    top: 34px;
    position: absolute;
    left: 421px;
    font-size: 32px;
    margin-left: 114px;
}


.Services-checkbox
{
    margin-top: 26px;
}

.Services-checkbox input
{
    margin-right: 315px;
}


.Services-checkbox label
{
    
    font-size: 25px;
}

.colors
{
    margin-top: 45px;
    margin-right: 59px;
}

.colors h2
{
    margin-bottom: 34px;
    font-size: 30px;    
}
.colors label
{
    font-size: 24px;
}

.categorie
{
    width: 100%;
    margin-top: 42px;
    padding-right: 62px;
}


.categorie h2
{
    text-align: center;
    margin-left: 114px;
    font-size: 38px;
}

.categorie .service
{
    font-size: 31px;
    margin-top: 29px;
    margin-bottom: 21px;
}

.categorie .service div
{
    margin-bottom: 12px;
}

.categorie .service .second input
{
    margin-right: 172px;
}

.categorie .part
{
    font-size: 31px;
    margin-top: 29px;
    margin-bottom: 21px;
}

.categorie input[type="checkbox"] 
{
    margin-top: 42px;
}

.categorie .part .second input
{
    margin-right: 172px;

}

.categorie .part .seconds input
{
    margin-right: 172px;

}

.categorie button
{
    margin-right: 348px;
    margin-top: 42px;
    padding: 6px 15px;
    font-size: 26px;
    border-radius: 12px;
}
input
{
    width: 279px;
    padding: 8px 0;
    margin-top: 5px;
    border-radius: 9px;
    font-size: 18px;
    
}
.form-control
{
    width: 349px;
    font-size: 24px;
}


.Services-text input
{
    margin-right: 298px;
}

.Services-text button
{
    padding: 4px 13px;
    font-size: 17px;
    margin-top: 13px;
}

.Services-text .save
{
    margin-top: 17px;
    margin-right: 360px;
}


.Services-text .save button
{
    font-size: 27px;
    border-radius: 19px;
    padding: 5px 39px;
}
.group-buttons
{
    margin-top: 19px;
}

.servicesColors
{
    margin-top: 74px;
    background-color: white;
    padding-bottom: 229px;
    margin-right: 37px;
    margin-left: 51px;
}

.servicesColors h1 {
    padding: 40px;
    padding-bottom: 0;
    font-size: 46px;
    text-align: start;
}

input[type="radio"], input[type="checkbox"]
{
    width: 29px;
}
.categories {
    padding-left: 0;
    margin-right: 550px;
    margin-top: -42px;
}

.size
{
    font-size: 21px;
}

.categories .colors .color {
    font-size: 27px;
    border-radius: 13px;
    padding: 3px 16px;
}



.categories form label {
    margin-bottom: 7px;
    font-weight: 400;
    padding-left: 14px;
    font-size: 21px;
}
hr {
    margin-top: -6px;
    margin-bottom: 20px;
    border: 0;
    width: 129px;
    border-top: 1px solid black;
    margin-left: 505px;
}

.categories h2
{
    font-size: 52px;
    margin-top: 26px;
    margin-right: 137px;
    margin-bottom: 32px;
}
.grade .row
{
    width: 84%;
}

.grade {
    padding-left: 0;
    margin-right: 205px;
}

.grade form{
    margin-left: 51px;
}

.grade form label {
    margin-bottom: 7px;
    font-weight: 400;
    padding-left: 0;
    font-size: 21px;
}
.grade h2 {
    font-size: 36px;
    margin-top: 154px;
    margin-bottom: -61px;
    margin-right: 221px;
}
.grade .row
{
    width: 84%;
}


.others {
    padding-left: 0;
    margin-right: 149px;
    margin-top: 37px;
}


.others label
{
    font-size: 24px;
    margin-top: 24px;
}

.others .check
{
    width: 13.666667%;
    margin-top: 40px;
}
.others .check input
{   margin-left: 8px;
    width: 15px;
    display: inline;
    float: right;
    margin-top: 0;
}
.others .check label
{
    margin-top:0;
    float: left;
}

.others  button
{
    padding: 8px 22px;
    font-size: 28px;
    border-radius: 25px;
    margin-right: 283px;
    margin-top: 59px;
}
.col-md-6 {
    width: 50%;
    font-size: 25px;
}
a
{
    color: white;
}

a:hover
{
    color: white;
}
.btn-warning a:hover
{
    color: white;
}

.size
{
    display: none;    
}

.sizes
{
    display: block;
}


  .grade form
  {
    text-align: center;
    margin-left: 0;
    margin-top: 101px;
  }

  .grade form input
  {
    padding-right: 23px;
    font-size: 19px;
  }

  .grade form h1
  {
    font-size: 46px;
    text-align: center;
    width: 93%;
    margin-top: -95px;
}

.select-text 
{
    text-align: center;
    margin-top: 53px;
    margin-right: 99px;
}

.select-text select
{
    margin-bottom: 21px;
    padding-top: 0;
    margin-right: 234px;
}


.select-text input
{
    margin-right: 253px;
    margin-bottom: 16px;
    margin-top: 25px;
}

.select-text button
{
    padding: 4px 13px;
    font-size: 17px;
    margin-top: 13px;
}


.select-text .save button
{
    padding: 1px 51px;
    font-size: 39px;
    margin-top: 77px;

}



.categories-text 
{
    text-align: center;
    margin-top: 53px;
    margin-right: 99px;
}

.categories-text select
{
    margin-bottom: 21px;
    padding-top: 0;
    margin-right: 234px;
}


.categories-text input
{
    margin-right: 253px;
    margin-bottom: 16px;
    margin-top: 25px;
}



.categories-text  button
{
    padding: 0;
    font-size: 16px;
    margin-top: 0;

}


.categories-text  button i
{
    padding: 3px;
}


.categories-text span
{
    font-size: 21px;
    margin-right: 7px;
}


.categories-text .save button
{
    font-size: 27px;
    border-radius: 19px;
    padding: 5px 39px;
    margin-top: 28px;
}


.search label
{
    font-size: 17px;
}

.Services-text .saves {
    margin-top: 17px;
    margin-right: 166px;
}


.Services-text .saves button
{
    padding: 5px 39px;  
    font-size: 27px;
    margin-top: 13px;

} 

.preview
{
    margin-bottom: 51px;
}


.preview h1
{
    font-size: 41px;
    margin-top: 35px;
    margin-bottom: 6px;
}

.preview hr {
    top: 1px;
    margin-bottom: 20px;
    border: 0;
    margin-top: 3px;
    margin-right: 0;
    width: 147px;
    border-top: 1px solid black;
    float: right;
}


.Preview-requests h2
{
    margin-right: 16px;
    font-size: 32px;
}


.Preview-requests div
{
    margin-bottom: 10px ;
}


.Preview-requests button
{
    margin-right: 435px;
    margin-top: 51px;
    font-size: 27px;
    padding: 3px 26px;
    border-radius: 21px;
}


.previews h1
{
    font-size: 41px;
    margin-top: 35px;
    margin-bottom: 6px;
}

.previews hr {
    top: 1px;
    margin-bottom: 20px;
    border: 0;
    margin-top: 3px;
    margin-right: 0;
    width: 79px;
    border-top: 1px solid black;
    float: right;
}



.previews .photo
{
    margin-left: 8px;
    margin-bottom: 105px;
}

.previews .photo img
{
    margin-right: 398px;
}

.previews-photo th
{
    font-size: 30px;
}

.previews-photo td
{
    font-size: 23px;
}

.previews-photo .group-buttons 
{
    text-align: center;
    margin-left: 176px;
    margin-top: 74px;
}

.previews-photo .group-buttons button
{
    font-size: 22px;
    border-radius: 11px;
    padding: 5px 18px;
    margin-right: 13px;
}


/*jgjgh*/

.previewservice h1
{
    font-size: 41px;
    margin-top: 35px;
    margin-bottom: 6px;
}

.previewservice hr {
    top: 1px;
    margin-bottom: 20px;
    border: 0;
    margin-top: 3px;
    margin-right: 0;
    width: 79px;
    border-top: 1px solid black;
    float: right;
}



.previewservice .photo
{
    margin-left: 8px;
    margin-bottom: 105px;
}

.previewservice h2 
{
    font-size: 40px;
    margin-bottom: 38px;
}

.previewservice .photo img
{
    margin-right: 162px;
}
.previewservice .color
{
    margin-bottom: 16px;
}


.previews-service h2
{
    margin-right: 61px;
    font-size: 42px;
    margin-top: 92px;
}


.previews-service div
{
    margin-bottom: 55px;
}


.previews-service div button
{
    font-size: 22px;
    border-radius: 11px;
    padding: 5px 18px;
    margin-right: 13px;
}

.previews-service div th
{
    font-size: 29px;
}


.previews-service div td
{
    font-size: 20px;
}
.previews-service div .group-buttons
{
    margin-right: 372px;
    margin-top: 67px;
}


.tables td
{
    font-size: 24px;
    width: 222px;
}


.Services-text .save {
    margin-top: 17px;
    margin-right: 0;
}
.Services-text {
    text-align: center;
    margin-right: 0;
    margin-top: 68px;
}
/* start media Query */


@media (min-width:226px) and (max-width:499px)
{
    

    .services h1 {
        font-size: 52px;
        margin-right: 24px;
    }
    .Services-text .save button
    {
        position: relative;
        left: 267px;        
    }

    .Services-text {
        margin-right: 0;
        float: none;
    }
    
    .service h1 {
        overflow: initial;
        float: left;
        font-size: 54px;
        margin-left: 0;
    }
    .Services-text .saves button {
        padding: 5px 39px;
        font-size: 27px;
        margin-left: 112px;
        margin-top: 13px;
        margin-right: -99px;
    }


    .Services-text input {
        margin-right: 0;
    }
    .previews .photo img {
        margin-right: 0;
    }
    .previewservice .photo img {
        margin-right: 0;
    }
    .group-buttons button
    {
        position: relative;
        left: 349px;
    }

    .group-buttons .btn-danger
    {
        position: relative;
        left: 200px;
        bottom: 47px;
    }
    .Preview-requests button {
        margin-right: 0;
    }
    .group-buttons button {
        position: relative;
        left: 0;
    }
}


@media (min-width:500px) and (max-width:599px)
{

    .Services-text label
    {
        margin-left: 133px;
    }
    .services h1 {
        font-size: 52px;
        margin-right: 24px;
    }

    .Services-text {
        margin-right: 0;
        float: none;
    }
    
    .service h1 {
        overflow: initial;
        float: left;
        font-size: 54px;
        margin-left: 0;
    }
    .Services-text .save button {
        position: relative;
        left: 188px;    
    }


    .Services-text input {
        margin-right: 0;
    }
    .previews .photo img {
        margin-right: 0;
    }
    .previewservice .photo img {
        margin-right: 0;
    }
    .group-buttons button
    {
        position: relative;
        left: 258px;
    }

    .group-buttons .btn-danger
    {
        position: relative;
        left: 131px;
        bottom: 44px;
    }
    .Preview-requests button {
        margin-right: 0;
    }
    .group-buttons button {
        position: relative;
        left: 0;
    }
}


@media (min-width:600px) and (max-width:760px)
{
    .Services-text label
    {
        margin-left: 133px;
    }
    .services h1 {
        font-size: 52px;
        margin-right: 24px;
    }
    .service h1 {
        overflow: initial;
        float: left;
        font-size: 54px;
        margin-left: 0;
    }
    .previews .photo img {
        margin-right: 0;
    }

    .Services-text {
        margin-right: 0;
        float: none;
        }
    .Services-text .saves button {
        padding: 5px 39px;
        font-size: 27px;
        margin-left: 112px;
        margin-top: 13px;
        margin-right: -229px;
    }

    .Services-text .save button {
        position: relative;
        left: 188px;    
    }
    .Services-text input {
        margin-right: 0;
    }
    .previewservice .photo img {
        margin-right: 0;
    }
    .group-buttons button
    {
        position: relative;
        left: 238px;
    }

    .group-buttons .btn-danger
    {
        position: relative;
        left: 82px;
        bottom: 45px;;
    }
    .Preview-requests button {
        margin-right: 0;
    }
    .group-buttons button {
        position: relative;
        left: 0;
    }
}
@media (min-width:660px) and (max-width:729px)
{
    .group-buttons button
    {
        position: relative;
        left: 238px;
    }

    .group-buttons .btn-danger
    {
        position: relative;
        left: 82px;
        bottom: 0;
    } 
}

@media (min-width:730px) and (max-width:770px)
{
    .Services-text label
    {
        margin-left: 133px;
    }
    .services h1 {
        font-size: 52px;
        margin-right: 24px;
    }
    .Services-text {
        margin-right: 0;
        float: none;
        }
    .Services-text .saves button {
        padding: 5px 39px;
        font-size: 27px;
        margin-left: 112px;
        margin-top: 13px;
        margin-right: -229px;
    }

    .previews .photo img {
        margin-right: 0;
    }

    .service h1 {
        overflow: initial;
        float: left;
        font-size: 54px;
        margin-left: 0;
    }
    .Services-text .save button {
        position: relative;
        left: 188px;    
    }
    .Services-text input {
        margin-right: 0;
    }
    .previewservice .photo img {
        margin-right: 0;
    }
    .group-buttons button
    {
        position: relative;
        left: 230px;
    }

    .group-buttons .btn-danger
    {
        position: relative;
        left: 200px;
        bottom: 0;
    }
    .Preview-requests button {
        margin-right: 0;
    }
    .group-buttons button {
        position: relative;
        left: 0;
    }
}

@media (min-width:770px) and (max-width:1200px)
{

    .services
    {
        display: block;
    }
    .Services-text label
    {
        margin-left: 133px;
    }
    .services h1 {
        font-size: 52px;
        margin-right: 24px;
    }

    .Services-text {
        margin-right: 0;
        float: none;
        }
    .Services-text .saves button {
        padding: 5px 39px;
        font-size: 27px;
        margin-left: 112px;
        margin-top: 13px;
        margin-right: -229px;
    }

    .previews .photo img {
        margin-right: 0;
    }
    .service h1 {
        overflow: initial;
        float: left;
        font-size: 54px;
        margin-left: 0;
    }
    .Services-text button {
        margin-left: 0;
    }
    .Services-text .save button {
        position: relative;
        left: 188px;    
    }
    .Services-text input {
        margin-right: 0;
    }
    .previewservice .photo img {
        margin-right: 0;
    }
    .group-buttons button
    {
        position: relative;
        left: 349px;
    }

    .group-buttons .btn-danger
    {
        position: relative;
        left: 200px;
        bottom: 47px;
    }
    .Preview-requests button {
        margin-right: 0;
    }
    .group-buttons button {
        position: relative;
        left: 0;
    }
}


@media (min-width: 769px)and (max-width:849px)
{

    .container {
        width: 492px;
    }
    
}


@media (min-width: 849px)and (max-width:1200px)
{

    .container {
        width: 594px;
    }
    
}



@media (min-width: 1200px)and (max-width:1300px)
{

    .container {
        width: 864px;
    }
    
}



@media (min-width: 1300px)and (max-width:1500px)
{

    .container {
        width: 1157px;
    }
    
}
/* end media Query */